[submodule "vendor/rtl8188eus"]
	path = vendor/rtl8188eus
	url = https://github.com/KanuX-14/rtl8188eus.git
[submodule "vendor/openvr"]
	path = vendor/openvr
	url = https://github.com/KanuX-14/openvr.git
[submodule "vendor/PurenGine"]
	path = vendor/PurenGine
	url = https://github.com/KanuX-14/PurenGine.git
